.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.button--auth0 {
	color: #fff;
	background-color: #eb5424;
}

.button--google {
	color: #fff;
	background-color: #4285f4;
}

.button--facebook {
	color: #fff;
	background-color: #3b5998;
}
