.home h1 {
	float: left;
	font-size: 56px;
	font-weight: 300;
	letter-spacing: -.01em;
	line-height: 56px;
	text-transform: uppercase;
	margin: 1rem 0;
}

.home__header::after {
	content: '';
	display: block;
	clear: both;
}

.home h2 {
	font-size: 34px;
	font-weight: 300;
	line-height: 40px;
	margin: 3rem 0 1rem 0;
}

.home h3 {
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin: 1rem 0;
}

.home__logo {
	float: left;
	width: 56px;
	height: 56px;
	margin: 1rem;
}

.button--auth0 {
	color: #fff;
	background-color: #eb5424;
}

.button--google {
	color: #fff;
	background-color: #4285f4;
}

.button--facebook {
	color: #fff;
	background-color: #3b5998;
}
