.button {
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
	font-size: 10px;
	font-weight: 500;
	line-height: 4em;
	letter-spacing: 0.07em;
	color: #212121;
	background-color: #e0e0e0;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border: 0;
	border-radius: 3px;
	overflow: hidden;
}

.button__overlay {
	padding: 0 24px;
	background-color: rgba(0,0,0,0);
	will-change: background-color;
	transition: background-color 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.button:hover .button__overlay, .button:focus .button__overlay, .button:active .button__overlay {
	background-color: rgba(0,0,0,0.3);
}
