.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0 24px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 10px 32px -15px rgba(0, 0, 0, 0.2);
	z-index: 50;
}

.header__logo {
	float: left;
	width: 36px;
	height: 36px;
	margin: 10px 12px 0 0;
}

.header__logo img {
	max-height: 100%;
	max-width: 100%;
}

.link {
	float: left;
	height: 56px;
	margin: 0;
	font-size: 12px;
	line-height: 56px;
	font-weight: 500;
	text-transform: uppercase;
	color: #333;
	text-decoration: none;
	margin-right: 16px;
}

.link--active {
	border-bottom: 3px solid #FF3D00;
}
