html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #212121;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}


h1 {
	font-size: 56px;
	font-weight: 300;
	letter-spacing: -.01em;
	line-height: 56px;
	text-transform: uppercase;
	margin: 1rem 0;
}

h2 {
	font-size: 34px;
	font-weight: 300;
	line-height: 40px;
	margin: 3rem 0 1rem 0;
}

h3 {
	font-size: 24px;
	font-weight: 300;
	line-height: 32px;
	margin: 1rem 0;
}
